/*обнуление стандартных отступов во всем документе*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*::before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*обнуление стандартных отступов во всем документе*/

html, body {
	font-family: 'Open Sans', sans-serif;
	background-color: #E5E5E5;
	font-size: 14px;
}

.wraper {
	margin: 0 auto;
	height: 100%;
}

.header {
	background-color: rgba(0, 0, 0, 0.3);
	padding: 22px 20px;
	position: fixed;
	width: 100%;
}

.logo {
	font-size: 23px;
	text-transform: uppercase;
}

.header__conteiner {
	display: flex;
	justify-content: space-between;
}

.header__conteiner .header__logo a {
	color: #fff;
}

.header__menu {
	display: none;
}

.intro {
	display: flex;
	flex-direction: column;
	
}
.intro__contain{
	background: url("img/background-small@2x.jpg") 50% 50%/auto 100% no-repeat;
}

.intro__slogan {
	margin: 95px 20px 21px 20px;
	font-weight: 300;
	font-size: 24px;
	line-height: 28.8px;
	text-align: center;
	color: #fff;
}


.intro__img .intro__images {
	min-width: 80%;
   background: url(img/screenMob.png) 50% 36%/35%no-repeat;
	display: block;
   margin: 0 auto;
}


.intro__download {
	background-color: rgba(29, 38, 49, 1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
	height: 100%;
	width: 100%;
	
}

.download__link a {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 30px;
	border: #fff 3px solid;
	border-radius: 30px;

}

.intro__download .intro__icon {
	
}