/*обнуление стандартных отступов во всем документе*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*::before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*обнуление стандартных отступов во всем документе*/

html,
body {
	font-family: 'Open Sans', sans-serif;
	/*background-color: #E5E5E5;*/
	font-size: 14px;
}

h2{
	color: rgba(40, 54, 69, 1);
	font-size: 24px;
	font-weight: 300;
	line-height: 28.8px;
	text-align: center;
	}

.wraper {
	margin: 0 auto;
	height: 100%;
}

.header {
	background-color: rgba(0, 0, 0, 0.3);
	padding: 22px 20px;
	position: fixed;
	width: 100%;
}

.logo {
	font-size: 23px;
	text-transform: uppercase;
}

.header__conteiner {
	display: flex;
	justify-content: space-between;
}

.header__conteiner .header__logo a {
	color: #fff;
}

.header__menu {
	display: none;
}

.intro {
	display: flex;
	flex-direction: column;

}

.intro__contain {
	background: url("img/background-small@2x.jpg") 50% 50%/auto 100% no-repeat;
}

.intro__slogan {
	margin: 95px 20px 21px 20px;
	font-weight: 300;
	font-size: 24px;
	line-height: 28.8px;
	text-align: center;
	color: #fff;
}


.intro__img .intro__images {
	min-width: 80%;
	background: url(img/screenMob.png) 50% 36%/35% no-repeat;
	display: block;
	margin: 0 auto;
}


.intro__download {
	background-color: rgba(29, 38, 49, 1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

}

.download__link a {
	display: inline-block;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	padding: 16px 35px;
	border: #fff 3px solid;
	border-radius: 30px;
	margin: 28px 20px 20px 20px;

}

.intro__icon {
	padding: 0%;
	display: flex;
	align-items: flex-end;
	width: 100%;
	justify-content: center;
}

.icon img {
	display: block;
	margin: 17px;
}

.intro__text {
	font-size: 14px;
	text-align: center;
	color: white;
	font-weight: 300;
	line-height: 24px;
	margin: 13px 20px 38px 20px;
}

.promo__heading{
margin: 46px 20px 70px 20px;	
background-color: #fff;
}

.promo__heading h2:first-child{
padding-bottom: 30px;
}

.promo-content{
background-color:rgba(242, 242, 242, 1);
display: flex;
flex-direction: column;
justify-content: center;
}

.info__content{
	display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
	 text-align: center;
}

.text__caption{
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	margin: 43px 20px 14px 20px;
}

.text__info{
	line-height: 24px;
	color: rgba(40, 54, 69, 1);
	margin: 0 20px 48px 20px;
}
.iphone1,.iphone2{
	display: none;
}

.info__content__img{
background: url(img/iphone1.png) 0 0/cover no-repeat;
}
.info__content__img .screen{
	width: 90%;
	margin-top: 41px;
}